body {
    text-align: center;
    font-family: 'Montserrat';
}

ul {
    text-decoration: none;
    margin-top: 25.5px;
    margin-bottom: 25.5px;
}


a {
    text-decoration: none;
    color: #FF0000;
}

li {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    display: inline;
    
}

.header-home {
    margin-right: 72px;
    text-decoration: none;
}

.header-photoapp {
    margin-right: 72px;
}

.header-design {
    margin-right: 50px;
}

img {
    width: 100%;
}

h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin-top: 48px;
    margin-bottom: 38px;
}

.p-main {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-left: 67.5px;
    margin-right: 67.5px;
}

.p-upper {
    margin-bottom: 29px;
}

button {
 
    background: #FF0000;
    border-radius: 4px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 66px;
    margin-bottom: 82px;
}

.p-footer {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-left: 713px;
    text-align: end;
    margin-bottom: 29px;
    margin-right: 105px;
}